- @messages.each do |message|
  .message{data: {message: {id: message.id}}}
    .message__user
      .message__user--name
        = message.user.name
      .message__user--time
        = message.created_at.strftime("%Y-%m-%d %H:%M")
    .message__low
      -if message.content.present?
        .message__low__content
          = message.content
      .message__low__image
        = image_tag message.image.url if message.image.present?