.side
  .header
    %h3.header__name
      ユーザーネーム
    %ul.header__lists
      %li.list
        = link_to "#" do
          = icon('fae', 'edit', class: 'icon')
      %li.list
        = link_to "#" do
          =  icon('fas', 'bahai', class: 'icon')


  .groups
    .group
      .group__name
        グループ名
      .group__message
        メッセージ
    .group
      .group__name
        グループ名
      .group__message
        メッセージ
    .group
      .group__name
        グループ名
      .group__message
        メッセージ